@import "bulma";

.card {
  margin-bottom: 2rem;
}

.card-header {
  align-items: center;
  border-bottom: $list-item-border;
}

.card-content {
  padding: 0px;
  overflow: auto;
  height: auto;
  transition: max-height 0.25s ease-in-out;
  &.collapse {
    max-height: 0px;
  }

  &.expand {
    max-height: 700px;
  }
  .list {
    border-radius: 0px;
  }

  .list-error {
    min-height: 41px;
    padding: 0.5em 1em;
  }
}

.list-item {
  padding-left: 2rem;
}
