<div class="card ">
    <header class="card-header">
        <p class="card-header-title">
            {{ character.name }}
        </p>
        <button class="button is-white is-text" (click)="toggleContent()" [ngClass]="{ 'is-loading': isLoading }">
            <span>Films </span>
            <span class="icon is-small" *ngIf="expand">
                <i class="fas fa-caret-up"></i>
            </span>
            <span class="icon is-small" *ngIf="!expand">
                <i class="fas fa-caret-down"></i>
            </span>
        </button>
    </header>
    <div class="card-content collapse" [ngClass]="{ expand: expand && !isLoading }">
        <div class="content list">
            <ng-container *ngIf="!!character.films && character.films.length > 0">
                <app-film [data]="film" class="list-item" *ngFor="let film of character?.films">
                </app-film>
            </ng-container>
            <div *ngIf="!!character.films && character.films.length === 0" class="list-error error-text">
                Sorry, No Information Available
            </div>
        </div>
    </div>
</div>